@charset "utf-8";
/* CSS Document */
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slideshow {
	position: relative;
	float: left;
	margin: 0;
}
.slideshow li {
	position: absolute;
}
.slideshow img{
	width: 1450px;
	display: block;
	padding: 0;
	margin: 0;
	border: none;
}
.slideshow li a{
	display: block;
}
.slideshowController {
	position: absolute;
	right: 0;
	bottom: 0;
}
.slideshowController a {
	background: transparent url(images/trainbg/1.jpg) no-repeat left top;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 60px;
	bottom: 0;
	z-index: 9999;
	outline: none;	/* 去除超連結虛線 */
}
.slideshowController .next{
	background-position: -30px 0;
	right: 0;
}
.slideshowController .play{
	background-position: -60px 0;
	right: 30px;
}
.slideshowController .pause{
	background-position: -90px 0;
}

